## Var

In [1]:
i = 5
j = 6
j

6

## str, float, int, bool, tuple and class

In [17]:
a_str = "Yo" 
print(type(a_str))

a_float = 3.14
print(type(a_float))

a_int = 10
print(type(a_int))

a_bool = True
print(type(a_bool))

a_tuples = (12, 3.14, "yo", True)
print(type(a_tuples))

class Boo:
    i = 10
a_object = Boo()
print(type(a_object))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'bool'>
<class 'tuple'>
<class '__main__.Boo'>

## Casting

In [3]:
a_str = '10'
b_str = '15'
c_int = int(a_str) + int(b_str)
c_int

25

## List, Set and Dict

In [9]:
a_list = [1,2,3]
print(type(a_list))
a_set = {1, 2, 3, 3}
print(type(a_set))
a_dict = {1:'one', 2:'two', 3:'three'}
print(type(a_dict))

<class 'list'>
<class 'set'>
<class 'dict'>

## For

In [10]:
for x in range(5):
    print(x)

0
1
2
3
4

In [12]:
i = 3
count = 0
while True:
    print("count: " + str(count))
    count += 1
    if count == 3:
        break

count: 0
count: 1
count: 2

## if, esif and else

In [11]:
i = 5

if 10 > i:
    print ("Great 10")
elif 3 > i:
    print("Great 3")
else:
    print("Great 11+")

Great 10

## with

In [14]:
with open('file.txt', 'r') as f: #open the file
    for line in f:
        print(line)

Hi are you?

## def

In [15]:
def add(x,y):
    return x + y

add(3,4)

7

## import and as

In [20]:
import pandas as pd
pd.__version__

'1.1.3'

## from

In [30]:
from pandas import DataFrame
d = DataFrame([[1,"one"],[2,"two"],[3,"three"]])
d

   0      1
0  1    one
1  2    two
2  3  three

In [33]:
https = "https://www.w3schools.com/python/python_ref_keywords.asp"
https

'https://www.w3schools.com/python/python_ref_keywords.asp'